/* Elementos generales */
html{
	background-image: url("images/background.jpg");
	opacity: 50%;
}

h5{
	text-align: center;
	font-family: arial;
	color: white;
}

textarea{
	display: inline-block;
	border-radius: 1%;
	width: 100%;
}

.margenTop{
	margin-top: 5%;
}

/* Elementos de formularios */
input[type=text]{
	margin-bottom:1%;
	display: inline-block;
	border-radius: 5%;
	vertical-align: middle;
	width: 40%;
	margin-left: 11.55%;
}

input[type=e-mail]{
	margin-bottom:1%;
	display: inline-block;
	border-radius: 5%;
	vertical-align: middle;
	width: 40%;
	margin-left: 2%;
}

#formularioContacto{
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 10%;
	margin-top: 7%;
	font-family: Georgia;
	font-size: 20px;
}

#areaEscribe{
	margin-top: 1%;
}

/* Elementos de menus */
#menuPrincipal{  
  background: none;
  border: none;
  list-style: none;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
  padding: 0%;
  overflow: hidden;
}

.menu li{
  float: left;
  background-color: lightblue;
  text-align: center;
  display: inline-block;
  border-width: 0.3%;
  border-radius: 50%;
  border-style: double;
  border-color: brown;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  margin-left: 4%;
  margin-right: 4%;
}

.menu li a{
	text-decoration:none;
	color: black;
}

.menu li:hover{
	text-decoration: none;
	background-color: #FC6;
	cursor: pointer;
	transition: 0.5s;
}

.menu li:hover a{
	color: blue;
	transition: 0.5s;
}

/* Imagenes */
#imagenpie{
 width:5%;
 height: 5%;
 float:right;
}

#imagencabecera{
	width: 400px;
	height: 100px;
	display: block;
	margin: auto;
}

#imagenTexto{
	width: 50%;
	height: 50%;
	display: block;
	margin: auto;
}

/* Textos */
#textopie{
	text-align: center;
	font-family: Georgia;
	color: #f2f2f2;
	font-size: 15px;
}

.textoGen{
	text-align: center;
	font-family: Georgia;
	color: white;
	font-size: 25px;
	margin: 10%;
}

#textoNosotros{
	font-size: 22px;
	margin-bottom: 4%;
	margin-top: 7%;
}

#leyendaContacto{
	font-size:25px;
	font-weight: bold;
	color: #f2f2f2;
	text-decoration: underline;
}

#formContacto{
	font-size:20px;
	color: white;
}

.exception{
	text-align: center;
	font-family: arial;
	font-size: 25px;
	margin-left: 10%;
	margin-right: 10%;
	color: brown;
}

.exception p{
	font-size: 18px;
	color: black;
}

#infoExcepcion{
	font-size: 20px;
	color: brown;
	margin-bottom: 7%;
}

/* Gestión de productos */

.fila_producto{
	margin-left: 15%;
	margin-right:15%;
	margin-top: 1%;
	margin-bottom: 1%;
	padding-top: 0.1%;
	padding-bottom: 0.1%;
	background-color: lightblue;
}

.fila_producto div p{
	color: black;
	font-family: Arial;
	font-size: 17px;
	margin-left: 2%;
}

#imagenInfo{
 width:2%;
 height: 2%;
 float:right;
 margin-right: 0.5%;
}

/* Enlaces y vínculos */

.enlaceGeneral{
	color: lightblue;
	text-decoration: none;
}

.enlaceGeneral:hover{
	color: violet;
}

/* Elementos externos */

#googleMaps{
	margin-left:25%;
	margin-right:25%;
	margin-bottom: 0%;
}